<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-toolbar>
        <span routerLink="/" routerLinkActive="active" (click)="sidenav.close()">
          <md-toolbar-row routerLink="" routerLinkActive="active" (click)="sidenav.close()">
            <md-icon>
              home
            </md-icon>
              Home
          </md-toolbar-row>
        </span>
        <md-toolbar-row routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
          <md-icon>
            face
          </md-icon>
            About me
        </md-toolbar-row>
        <md-toolbar-row routerLink="/cv" routerLinkActive="active" (click)="sidenav.close()">
          <md-icon>
            laptop mac
          </md-icon>
            My CV
        </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>
        menu
      </md-icon>
    </button>
    Deivisondfs2
  </md-toolbar>

  <div class="body-margin center-align">
    <router-outlet></router-outlet>
  </div>



</md-sidenav-container>


